 <section style="
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
">

    <!-- Ligne gauche -->
    <div style="
        width:300px;
        height:1px;
        background-color:#1aff635b;
        box-shadow: 0 0 30px rgba(0,255,255,0.4);
    "></div>

    <!-- Logo central -->
    <img  src="{% static '/img/logo.png' %}"
         alt="Logo"
         style="
            width:70px;
            height:70px;
            border-radius:50%;
            object-fit:cover;
         ">

    <!-- Ligne droite -->
    <div style="
        width:300px;
        height:1px;
       background-color:#1aff635b;
    "></div>

</section>